body{
    padding: 40px;
    background-color: $purple;
    background-image: url('../images/bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;

    @media screen and (min-width: 1024px){
        background-image: url('../images/bg-desktop.svg');
        padding: 30px 80px 30px 80px;
    }
}

main{
    margin-bottom: 60px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 26px;
        display: flex;
        flex-wrap: wrap;
    }
}

.hero-image{

    @media screen and (max-width: 1024px) {
        margin-bottom: 70px;
    }

    img{
        width: 100%;
    }
}

.hero-text{
    line-height: 1.5;
    text-align: center;
    
    @media screen and (min-width: 1024px) {
        padding-left: 60px;
        text-align: left;
    }

    h1{
        font-family: $font-body;
        font-size: 32px;
        line-height: 1.1;
    }
}

a.cta{
    min-width: 250px;
    margin-top: 26px;
    padding: 20px;
    background: #fff;
    color: $purple;
    line-height: 1;
    text-align: center;
    border-radius: 40px;
    box-shadow: 5px 5px 10px darken($purple, 20%);
    transform: translateX(0px);
    transition: transform 100ms ease-in-out;

    @media screen and (min-width: 1024px) {
        min-width: 200px;
        padding: 20px 66px;
    }

    &:hover{
        transform: translateX(3px);
        color: #fff;
        background-color: $violet;
    }
}

